extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Jennifer Parker

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            |In the last years we’ve seen an explosion in the diversity of consumer devices.             
            |A greater diversity of devices means a greater diversity of platforms and of types and shapes of inputs and outputs.
            |Meeting those needs requires diversity in thought and staying on top of new skills.
            |As a woman, I believe that I can be an asset in any team by bringing my own unique set of experiences.
            |I am enrolled in Treehouse Full Stack Techdegree program online and sponsored by Verizon (project Athena). 
        ul
          li JavaScript
          li JQuery
          li Node.js
          li OOP
          li Express
          li HTML
          li CSS
          li PHP
          li NPM
       
        h6 Contact Info

        
        ul
          li 903-910-6533
          li jenpar1674@gmail.com

        //- Add URLs to the hrefs httbelow to link to your social media accounts.
        a.button.expanded(href='http://linkedin.com/in/jennifer-parker-557241139' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/Jenpar1674' target="_blank") GitHub
         a.button.expanded(href='http://teamtreehouse.com/about' target="_blank") Treehouse
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  